name: Run Hello-world from py Script

on: push

jobs: 
    Hello:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repo
              uses: actions/checkout@v2


            - name: Setup python
              uses: actions/setup-python@v6
              with:
                 python-version: '3.13' 
            
            - name: Run hello world script
              run: python ./hello.py